/* ::-webkit-scrollbar {
    display: none;
}

:root {
    --form-theme-color: #673ab7;
    --form-bg-color: #f0ebf8;
}

.settings-root {
    padding: 24px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid rgb(218, 220, 224);
    max-width: 770px;
    margin: 0 auto;
    position: relative;
}

.setting-section {
    border-bottom: 1px solid #e0e0e0;
    background: #fff;
    overflow: hidden;
    padding: 20px 15px 30px 0px;
}

.section-header {
    font-size: 16px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.section-body {
    padding: 30px 15px 0px 30px;
    display: none;
}

.title-box .main-title {
    font-size: 16px;
    font-weight: 600;
}

.sub-title {
    font-size: 12px;
    color: #757575;
    margin-top: 2px;
}

.section-toggle-btn {
    border: none;
    background: none;
    font-size: 18px;
    color: #666;
    cursor: pointer;
}

.setting-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    font-size: 16px;
}

.setting-item.column {
    flex-direction: column;
    align-items: flex-start;
}

.setting-toggle {
    width: 42px;
    height: 22px;
    appearance: none;
    background: #ccc;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    transition: 0.25s;
}

.setting-toggle:checked {
    background: #673ab7;
}

.setting-toggle::before {
    content: "";
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: 0.25s;
}

.setting-toggle:checked::before {
    transform: translateX(20px);
}

.submit-message {
    width: 100%;
    box-shadow: 0 0 0 0.1px rgb(218, 220, 224) inset;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.04rem;
    padding: 16px;
    margin-top: 12px;
    border-radius: 4px;
}

.submit-message::placeholder {
    color: #d9d9d9;
}

.submit-message:focus {
    box-shadow: 0 0 0 1px rgb(26, 115, 232) inset;
}

.setting-submit {
    padding-bottom: 20px;
    width: 70%;
    position: relative;
}

.setting-submit label {
    height: 30px;
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 14px;
    padding: 5px;
    background: white;
    font-size: 12px;
    color: #888;
    font-weight: bold;
}

.setting-submit.ver2 label {
    top: initial;
    bottom: -20px;
}

.setting-submit label span {
    color: #da4841;
    vertical-align: -1px;
} */