.title-section {
    margin-bottom: 12px;
}

.editable-input[contenteditable="true"]:empty:before {
    content: attr(data-placeholder);
    color: #aaa;
    pointer-events: none;
}

.block-question-card,
.block-card {
    border-bottom: none;
    border-radius: 8px;
    transition: 0.15s;
    border: 1px solid rgb(218, 220, 224);
    margin-bottom: 12px;
}

.block-card {
    border-top: 10px solid #607d8b;
}

.block-question-card:focus-within,
.block-card:focus-within {
    box-shadow:
        0 2px 1px -1px rgba(0, 0, 0, 0.2),
        0 1px 1px 0 rgba(0, 0, 0, 0.14),
        0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.question-header {
    padding: 0px 24px 0px 24px;
    display: flex;
    align-items: flex-start;
}

.question-left {
    max-width: 450px;
}

.question-right {
    width: 30%;
    margin-left: 24px;
}

.question-footer {
    margin: 0px 24px 0px 24px;
    padding-bottom: 12px;
}

.question-option-editor {
    padding: 0px 24px 0px 19px;
}

.option-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.option-column {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.option-label-input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    padding-left: 4px;
}

.option-label-input:focus {
    border-bottom: 2px solid #607d8b;
}

.floating-menu {
    position: fixed;
    top: 120px;
    left: calc(50% + 385px + 16px);
    width: 60px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 1px;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    z-index: 999;
    box-shadow:
        0 2px 1px -1px rgba(0, 0, 0, 0.2),
        0 1px 1px 0 rgba(0, 0, 0, 0.14),
        0 1px 3px 0 rgba(0, 0, 0, 0.12);
}