.chart-card {
    padding: 24px;
    border-radius: 8px;
    border: 1px solid rgb(218, 220, 224);
    background-color: #fff;
}

.canvas-container {
    width: fit-content;
    margin: auto;
    padding: 12px;
}

.trans::before {
    transform: rotate(90deg) scaleX(-1);
}

.icon-btn-wrapper {
    width: fit-content;
    padding: 4px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 12px;
    border: 2px solid #e3edfd;
    border-radius: 24px;
}

.seleccted-btn {
    background-color: #e3edfd;
}

.chart-question {
    font-weight: 600;
    margin-bottom: 4px;
}

.chart-canvas {
    width: 600px;
}