.drag-handle {
    margin-top: 2px;
    cursor: grab;
    color: #9e9e9e;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 24px;
    align-items: center;
    justify-content: center;
}

.drag-handle:hover {
    color: #616161;
}

.opt-drag {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 5px;
}