.navbar-brand i {
    font-size: 24px;
}

.icon-btn i {
    font-size: 20px;
}

.icon-btn {
    width: 48px;
    height: 48px;
    background: none;
    border: none;
    padding: 6px 8px;
    border-radius: 100px;
    cursor: pointer;
    color: #5f5a68;
    position: relative;
}

.icon-btn:hover {
    background: #f5f5f5;
}

.icon-btn[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: -28px;
    left: 50%;
    transform: translateX(-50%);
    padding: 3px 8px;
    background: #00000038;
    color: #fff;
    font-size: 0.75rem;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.15s ease;
}

.icon-btn:hover::after {
    opacity: 1;
    bottom: -30px;
}

.icon-btn-sm i {
    font-size: 20px;
}

.icon-btn-sm {
    width: 35px;
    height: 35px;
    background: none;
    border: none;
    padding: 6px 8px;
    border-radius: 100px;
    cursor: pointer;
    color: #5f5a68;
    position: relative;
    display: flex;
    align-items: center;
}

.icon-btn-sm:hover {
    background: #f5f5f5;
}

.icon-btn-sm[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: -28px;
    left: 50%;
    transform: translateX(-50%);
    padding: 3px 8px;
    background: #00000038;
    color: #fff;
    font-size: 0.75rem;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.15s ease;
}

.icon-btn-sm:hover::after {
    opacity: 1;
    bottom: -30px;
}

.drag-handle i {
    line-height: 0;
    font-size: 20px;
}

.opt-drag i {
    line-height: 0;
    font-size: 15px;
}