::-webkit-scrollbar {
    display: none;
}

.responses-container {
    background: #e7ecee;
    width: 100vw;
    min-height: 100vh;
}

.responses-wrapper {
    width: 100%;
    padding-top: 78px;
    max-width: 640px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 12px;
}

.response-titles {
    border: 1px solid rgb(218, 220, 224);
    border-top: 10px solid #607d8b;
    border-radius: 8px;
    background-color: #fff;
    padding: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.summary-tab-container {
    margin-top: 12px;
    display: flex;
    gap: 12px;
    flex-direction: column;
}

.text-container {
    background-color: #fff;
    border: 1px solid rgb(218, 220, 224);
    border-radius: 8px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.text-wrapper {
    margin-top: 12px;
    gap: 8px;
    display: flex;
    flex-direction: column;
}

.text-group {
    background-color: #fff;
    border: 1px solid rgb(218, 220, 224);
    border-radius: 8px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.text-content {
    background-color: rgb(248, 249, 250);
    border: 1px solid rgb(218, 220, 224);
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
}

.question-tab-container {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
}

.prev-btn {
    display: flex;
    align-items: center;
    gap: 8px;
}