* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin-left: 180px;
}

textarea {
    font-family: inherit;
    font-size: inherit;
    resize: none;
    border: none;
    outline: none;
}

input {
    font-family: inherit;
    font-size: inherit;
    border: none;
    outline: none;
}

textarea:focus {
    outline: none;
    box-shadow: none;
}

input:focus {
    outline: none;
    box-shadow: none;
}