* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin-left: 180px;
}

input,
textarea {
    font-family: inherit;
    font-size: inherit;
    resize: none;
    border: none;
    outline: none;
}


input:focus,
textarea:focus {
    outline: none;
    box-shadow: none;
}

i,
input,
textarea {
    line-height: 0;
}