.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    width: 270px;
}

.navbar-brand {
    width: 48px;
    height: 48px;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.back-btn {
    margin-right: 15px;
}